<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnc.hcm.cnctrack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.cnc.hcm.cnctrack.activity.LoginActivity" />
        <activity android:name="com.cnc.hcm.cnctrack.activity.MainActivity" />
        <activity android:name="com.cnc.hcm.cnctrack.activity.AddProductActivity" />

        <service
            android:name="com.cnc.hcm.cnctrack.service.GPSService"
            android:stopWithTask="false" />

        <activity
            android:name="com.cnc.hcm.cnctrack.activity.SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cnc.hcm.cnctrack.activity.ProfileActivity"
            android:theme="@style/ThemeProfile" />

        <receiver android:name="com.cnc.hcm.cnctrack.receiver.BroadcastRecever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.cnc.hcm.cnctrack.activity.ProductDetailActivity"></activity>
        <activity android:name="com.cnc.hcm.cnctrack.activity.ListProductAndServiceActivity"></activity>
        <activity android:name="com.cnc.hcm.cnctrack.activity.AddNoteActivity"/>
        <activity android:name="com.cnc.hcm.cnctrack.activity.ChangeTimeActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cnc.hcm.cnctrack.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>